name: Nix formatter checks

on:
  pull_request:
  push:
      paths:
          - "**.nix"

jobs:
  lockfile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Lix
        run: |
          curl -sSf -L https://install.lix.systems/lix | sh -s -- install --enable-flakes --no-confirm

      - name: Run nix formatter tool
        run: nix fmt . -- --check
